*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

marquee{
    color: rgb(74, 81, 212);
    font-size: 1.5rem;
}

.home{
    width: 100%;
    height: 100vh;
}

.main-container{
    width: 100%;
    height: 100vh;
    background-color: #D1ECFF;
}

.inner-container{
    width: 90%;
    height: 80%;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 20px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.nav-logo img{
    width: 70px;
}

.nav-logo, .nav-link{
    font-size: 20px;
    color: #3f8ec6;
    cursor: pointer;
}

.nav-contain a{
  text-decoration: none;
  padding-left: 10px;
}

.text-part{
    display: flex;
    align-items: center;
    margin: 80px 140px;
}

.heading{
    font-size: 55px;
    color: #5b66dd;
    font-family: 'Times New Roman', Times, serif;
}

.img img{
    width: 400px;
    height: auto;
    margin-left: 70px;
}

.button{
    margin-top: 50px;
}

.home-btn{
    text-decoration: none;
    background-color: #3f8ec6;
    color: #FFFFFF;
    padding: 7px 15px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

/*contact section*/
.contact h3{
    text-align: center;
    color: #5b66dd;
    font-size: 2rem;
    padding: 1rem;
}

form{
    width: 100%;
    height: 550px;
    background-color: #D1ECFF;
    padding: 2% 5%;
}

form .row{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.row label{
    color: #3f8ec6;
    font-size: 1.2rem;
}

.row input, textarea{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 2px 10px;
}

input::placeholder, textarea::placeholder{
    font-size: 1.1rem;
    color: #666;
}

textarea{
    width: 100%;
    height: 200px;
}

.m-btn{
    border: none;
    outline: none;
    background-color: #FFF;
    border: 1px solid rgb(58, 31, 230);
    color: #3f8ec6;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    font-size: 1.1rem;
    float: right;
}

.m-btn:hover{
    background-color: rgb(29, 170, 226);
    color: #FFF;
    font-weight: 600;
}

/* footer section */
footer{
    background: white;
    padding: 15px 23px;
    color: black;
    text-align: center;
}
footer span a{
    color: #5b66dd;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}